<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

</head>
<body>
    <p>Hey! <br>
    Welcome to the home page! <br>
    This is a simple API which has 3 GET and 1 POST endpoints. <br>
    The GET endpoints are: <br>
    /api/get-all - To get all the data. <br>
    /api/get-random - To get a random data. <br>
    /api/get-motivation - To get a motivational quote. <br>

    The POST endpoint is: <br>
    /api/add - To add data. <br>
    </p>
</body>
</html>